.filters {
  padding: $spacing-xs 0;
  border-bottom: 1px solid $border-color;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  & div {
    position: relative;
    margin-left: $spacing-xs;
  }
  & .icon {
    position: absolute;
    left: 5px;
    top: 10px;
  }
}
