$primary-color: #7f53ac;
$secondary-color: white;
$red-color: #c70000;
$blue-color: #1c5cc8;
$green-color: #00ab66;
$border-color: #e3e3e3;
$spacing-xs: 0.5rem;
$spacing-s: 0.75rem;
$spacing-m: 1rem;
$spacing-l: 1.25rem;
$spacing-xl: 1.5rem;
$spacing-xxl: 2rem;

* {
  outline: none;
  font-family: Avenir;
}
html,
body {
  margin: 0;
}
.app {
  height: 100vh;
}

//components
.container {
  display: flex;
  flex-direction: column;
  padding: 0 $spacing-xs;
  @media (min-width: 768px) {
    padding: 0 $spacing-xl;
  }
}

button {
  padding: $spacing-s;
  padding-bottom: $spacing-xs;
  border-radius: 4px;
  margin-left: $spacing-xs;
  font-size: $spacing-m;
  background: $primary-color;
  color: $secondary-color;
  border: none;
  cursor: pointer;
}

.redButton {
  background-color: $red-color;
}

.greenButton {
  background-color: $green-color;
}

.blueButton {
  background-color: $blue-color;
}

.isDisabled {
  cursor: no-drop;
  opacity: 0.5;
}

input {
  width: 100%;
  padding: $spacing-s;
  border-radius: 4px;
  border: 1px solid $border-color;
  box-sizing: border-box;
}

select {
  width: 100%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding: $spacing-xs;
  padding-left: $spacing-xl;
  border: none;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.divider {
  margin: 0;
}

//todo-form
.todo-form {
  width: 100%;
  height: 60px;
  padding: $spacing-xs 0;
  box-sizing: border-box;
  & form {
    width: 100%;
    display: flex;
    align-items: center;
  }
}

//list
.todo-list {
  width: 100%;
  height: calc(100vh - 209px);
  margin-top: $spacing-s;
  overflow-y: auto;
  box-sizing: border-box;
}

//tasks
.todo {
  background: #fff;
  font-size: $spacing-m;
  margin-bottom: $spacing-s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $border-color;
  transition: all 0.3s ease;
  position: relative;
  @media (min-width: 768px) {
    padding: $spacing-xs 0;
  }
  & .tag {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $red-color;
  }
  & .todoContent {
    width: 85%;
    margin: 0;
    @media (min-width: 768px) {
      width: 75%;
    }
  }
  & .actions {
    display: flex;
    flex-direction: column;
    @media (min-width: 768px) {
      flex-direction: row;
    }
  }
  & .actions button {
    font-size: $spacing-xs;
    margin-bottom: $spacing-xs;
    @media (min-width: 768px) {
      font-size: $spacing-m;
    }
  }
  & .todoText {
    margin: 0;
    @media (min-width: 768px) {
      font-size: $spacing-m;
    }
  }
  & .todoDate {
    color: $primary-color;
    font-size: $spacing-xs;
    @media (min-width: 768px) {
      font-size: $spacing-s;
    }
  }
  & .editTodo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    & > div {
      display: flex;
      align-items: center;
      flex-direction: column;
      font-size: $spacing-s;
    }
    & input.checkbox {
      width: 20px;
      height: 20px;
      border-radius: 4px;
      & :checked {
        filter: grayscale(1);
      }
    }
  }
}

.todo-completed {
  text-decoration: line-through;
  color: $border-color;
}

// Nav
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: $spacing-l;
  padding: $spacing-xs;
  background: $primary-color;
  color: $secondary-color;
  height: 60px;
  box-sizing: border-box;
  @media (min-width: 768px) {
    padding: $spacing-xs $spacing-xl;
  }
  & .userImage {
    width: 30px;
    border-radius: 50%;
  }
  & div {
    display: flex;
    align-items: center;
  }
  & div span {
    font-size: $spacing-m;
    margin: 0 $spacing-xs;
  }
  & a {
    text-decoration: none;
    color: $secondary-color;
  }
}

//Filters
.filters {
  padding: $spacing-xs 0;
  border-bottom: 1px solid $border-color;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  & div {
    position: relative;
    margin-left: $spacing-xs;
  }
  & .icon {
    position: absolute;
    left: 5px;
    top: 10px;
  }
}

// Footer
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $spacing-xs;
  font-size: $spacing-s;
  background: $primary-color;
  color: $secondary-color;
  height: 30px;
  box-sizing: border-box;
}

//auth
.auth {
  height: calc(100vh - 90px);
  padding: $spacing-xl;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & button {
    width: 80%;
    @media (min-width: 768px) {
      width: 30%;
    }
  }
  & h1 {
    font-size: $spacing-xxl;
  }
}
